

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Toggle Styles */

#wrapper {
    padding-left: 250px;
    min-width: 1200px;
}

#sidebar-wrapper {
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow: visible;
    background: #f5f5f5;
    z-index: 99;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 20px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 32px 16px;
    list-style: none;
}

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    margin-bottom: 36px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}

.sidebar-nav > li {
    margin-bottom: 36px;
}

label {
    display: block;
}

.sidebar-nav label {
    line-height: 1.5;
    color: #9d9d9d;
}

.sidebar-nav .form-content {
    font-size: 1.2em;
}

.calendar-month {
    line-height: 1.6;
}

#cal-slide-content {
    background: #333 !important;
}

#cal-week-box {
    display: none !important;
}
.tw-list-container {
    margin-left: 0;
    margin-right: 0;
    padding: 0 !important;
    background: #eee;
    overflow-y: auto;
}

.tw-list-container .tw-list .list-group-item {
    border-radius: 0 !important;
}

.tw-settings-container {
     margin-left: 0;
    margin-right: 0;
    padding: 16px;
    background: #white;
}

.tw-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    margin: 0;
}

.clear-btn {
    display: block;
    margin-top: 6px;
}

.text-info {
    color: #999;
}
.legends {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
